@import "../../App.scss";

.tableHeading {
  margin-top: 25px;
  font-size: clamp(2em, 2.5vw, 3em);
  font-weight: 600;
}

.adjTable {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  font-size: clamp(16px, 1.2em, 24px);
  display: flex;
  flex-direction: column;

  @include mobile {
    font-size: clamp(.5em, 5vw, 1em);
  }

  .entries {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    font-size: inherit !important;
    flex-wrap: wrap;

    .heading, .info {

      @include mobile {
        max-width: 100%;
        min-width: 45%;
      }
    }

    .heading {
      p {
        font-size: inherit !important;
        font-weight: 600;
      }

      &.big {
        p {
          font-size: clamp(1.2em, 2.1vw, 1.8em) !important;
        }
      }
    }


    .info {
      flex-grow: 1;
      text-align: right;
      p,a, div {
        font-size: inherit !important;
      }

      &.big {
        p, a, div > a {
          font-size: clamp(1.3em, 2.1vw, 1.8em) !important;
        }

        .heading {
          font-weight: 600;
        }
      }
    }
  }
}