.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  width: 100vw;
  background: rgba(0,0,0,.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: height, min-height, max-height .25s ease;
  overscroll-behavior: contain;
}