@import "../../App.scss";

/* On page without Modal */
.description {
  max-width: 1080px;

}

.description, .menuWrapper {

  p {
    text-align: center !important;
    font-size: clamp(0.5em, 10vw, 1.25em) !important;
  }
}

.menuWrapper {
  max-width: 1080px;
  margin: 0 auto;

  .servicesWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }

    .div1 {
      background-color: var(--accent2);
      grid-area: 1 / 1 / 3 / 2;

      @include mobile {
        grid-area: 1 / 1 / 3 / 3;
      }
    }

    .div2 {
      background-color: var(--light-accent-100op);
      grid-area: 3 / 1 / 4 / 2;

      @include mobile {
        grid-area: 3 / 1 / 4 / 3;
      }
    }

    .div3 {
      background-color: var(--accent2);
      grid-area: 2 / 2 / 4 / 3;

      @include mobile {
        grid-area: 4 / 1 / 6 / 3;
      }
    }

    .div4 {
      padding: 0 20px 0 0;
      background-color: var(--accent3);
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;

      @include mobile {
        grid-area: 6 / 1 / 7 / 3;
      }
    }

    .div4 > div {
      width: 50%;
      height: 100%;
    }

    .div4 > div.rightText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  p, h1, h2, h3, h4 {
    text-align: center;
  }

  .gridItem {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);


    .reverseOrder > p {
      padding: 0;
      margin: 0 0 .15rem;
      font-size: 85%;
      font-weight: 600;
    }

    .reverseOrder > h1,
    .reverseOrder > h2,
    .reverseOrder > h3,
    .reverseOrder > h4 {
      padding: 0;
      margin: 0 0 .25rem;
    }
  }

  .commonContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    button {
      align-self: center;
      font-weight: 500;
    }
  }

  div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .verticalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .photo,
    .text {
      width: 100%;
      height: 50%;
    }
  }

  .text {
    padding: 10px;
  }

  .horizontalWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .photo,
    .text {
      width: 50%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}


/* Inside Modal */
.singleCatWrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--text-primary);


  .leftWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .slideImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .rightWrapper {
    background-color: var(--background);
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;


    .rightCatHeading {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .scrollIndicator {
      height: 25px;
      z-index: 15;

      svg {
        padding: 0;
        margin: 0;
        width: 25px;
        height: 25px;
      }
    }

    .itemListWrapper {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */


      &::-webkit-scrollbar {
        display: none;
      }

      .itemList {
      }
    }

    .listItem {
      display: flex;
      flex-direction: column;
      gap: 1px;
      padding: 10px 0;

      .itemTopLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .rightItemHeading {
          padding: 0;
          font-size: 14px;
          font-weight: 500;
          top: auto;
        }

        .itemPrice {
          font-size: 14px;
          font-weight: 500;
        }
      }

      .itemDescription {
        text-align: start;
        font-size: 12px;
      }
    }
  }
}


@media (max-width: 768px) {
  /* Inside Modal */
  .singleCatWrapper {
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    overflow: hidden;

    .leftWrapper {
      width: 95vw;
      height: calc(95vh * .2);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .slideImage {
        width: 100%;
        height: auto;
        object-fit: fill;
        object-position: top;
      }
    }

    .rightWrapper {
      width: 95vw;
      height: calc(95vh * .8);
      justify-content: flex-start;
    }
  }
}
