@import "../../App.scss";

/* On page without Modal */
.menuSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100vw;
  max-width: 100%;

  .heading {
    text-align: center;
  }


  .description {
    max-width: 1080px;

    p {
      text-align: center !important;
      font-size: clamp(0.5em, 10vw, 1.25em) !important;
    }
  }

  .menuWrapper {
    p {
      text-align: center;
    }
  }

  .menuWrapper {
    width: 100vw;
    max-width: min(1080px, 100%);
    margin: 0 auto;


    .servicesWrapper {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      /* Grid posiions*/
      .gridItem {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        // grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end;
        &.div1 {
          grid-area: 1 / 1 / 3 / 2;
        }

        // Food
        &.div2 {
          grid-area: 3 / 1 / 4 / 3;
          /* => Restore on publish
          grid-area: 3 / 1 / 4 / 2;*/
        }

        //Coffee => Restore on publish
        /*&.div3 {
          grid-area: 1 / 2 / 2 / 3;
        }*/

        // Cocktails
        &.div4 {
          grid-area: 1 / 2 / 3 / 3;
          /* => Restore on publish
          grid-area: 2 / 2 / 4 / 3;*/
        }

        @include mobile {
          .div1, .div2, .div3, .div4 {
            grid-area: unset;
          }
        }


        .reverseOrder > p {
          padding: 0;
          margin: 0 0 .15rem;
          font-size: 85%;
          font-weight: 600;
        }

        .reverseOrder > h1,
        .reverseOrder > h2,
        .reverseOrder > h3,
        .reverseOrder > h4 {
          padding: 0;
          margin: 0 0 .25rem;
        }

        .photo {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .commonContent {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;


          button {
            align-self: center;
            font-weight: 500;
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 25px;
          height: 100%;


          h2 {
            font-size: 2rem;
          }

          p, h1, h2, h3, h4 {
            text-align: center;
          }

          @include mobile {
            gap: 15px;
          }
        }

      }

      .verticalWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /*       max-height: 70vh;*/

        .photo,
        .text {
          width: 100%;
        }

        .text {
          height: 275px;
        }

        .photo {
          height: 275px;
        }
      }

      .horizontal {
        display: flex;
        flex-direction: row;
        height: 100%;
        /*        max-height: 50vh;*/

        .text, .photo {
          width: 50%;
          height: 100%;
        }

        .text {
          height: 275px;
        }

        .photo {
          height: 275px;
        }
      }

      .verticalWrapper,
      .horizontal {
        @include mobile {
          flex-direction: column;
          max-height: unset;
          gap: 10px;

          .photo {
            width: 100%;
            height: 25vh;
          }

          .text {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/* Inside Modal */
.singleCatWrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--text-primary);


  @include mobile {
    height: 95dvh;
    width: 95vw;
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
  }


  .leftWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: 25%;
      width: 100%;
    }

    .slideImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .rightWrapper {
    background-color: var(--background);
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 25px 5px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overscroll-behavior: contain;

    @include mobile {
      height: 75%;
      width: 100%;
      padding: 15px;
    }

    .topWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 25px;

      p {
        text-align: center;
      }

      .rightCatHeading {
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 0;
      }
    }

    .scrollIndicator {
      height: 25px;
      z-index: 15;

      svg {
        padding: 0;
        margin: 0;
        width: 25px;
        height: 25px;
      }
    }

    .itemListWrapper {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      flex: 1;
      padding-right: 20px;

      @include mobile {
        padding-right: 5px;
      }

      .itemList {
      }
    }

    .listItem {
      display: flex;
      flex-direction: column;
      gap: 1px;
      padding: 10px 0;
      background-color: unset;
      transition: background-color .3s;
      @include mobile {
        overscroll-behavior: contain;
        overflow-scrolling: touch;
      }

      &:hover {
        background-color: var(--disabled);
      }

      &.first {
        padding: 0 0;
        border-bottom: 1px solid var(--accent);

        &:hover {
          background-color: unset;
        }
      }

      .itemTopLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .headingWrapper, .priceWrapper {
          display: flex;
          gap: 10px;
          justify-content: space-between;
          align-items: center;
          max-width: 50%;
        }

        .priceWrapper {
          width: 135px;

          p {
            width: 50%;
            text-align: center;
          }
        }

        .rightItemHeading {
          padding: 0 0 0 5px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0;
        }

        .itemPrice {
          font-size: 14px;
          font-weight: 500;
        }


        &.first {
          margin-top: 15px;
          padding: 0;

          div {
            h3,
            p {
              padding: 0 0;
              font-weight: 500;
              font-size: 20px !important;
            }
          }
        }
      }

      .itemDescription {
        text-align: start;
        font-size: 12px;
        padding: 0 0 0 5px;
      }
    }

    .additives {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      p {
        font-size: 13px;

        &.addTitle {
          font-weight: 500;
        }
      }
    }
  }
}