.container {
  position: absolute;
  overflow-x: hidden;

  .sectionWrapper {
    display: flex;
    flex-wrap: nowrap;
  }


  section.scrollable {
    min-width: 100vw;
    height: 100vh;
    z-index: 5;

    &.one{
      background-color: salmon;
    }

    &.two {
      background-color: #588d58;
    }

    &.three {
      background-color: blueviolet;
    }

    &.four{
      background-color: #c07ec0;
    }

    &.five {
      background-color: #7f7fe3;
    }
  }



  .controlBar {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%,-50%);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;

    .navigationElements {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        font-weight: 600;
      &.current {
        color: darkorange;
      }

      &.done {
        color: #1f1f1f
      }

      &.open {
        color: dimgrey;
      }
      }
    }

    .ctrlBtn {

      &.back {

      }

      &.next {

      }
    }
  }
}