.fullscreen {
  width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;

  transition: height, max-height .25s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.error {
    background-color: var(--delete);
  }

  &.warning {
    background-color: var(--warning);
  }

  &.success {
    background-color: var(--confirm);
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 3s;
  }

  a:hover {
    color: var(--text-primary);
    filter: brightness(.9);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .feedbackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 100%;
    gap: 15px;
    padding: 25px;
    background-color: var(--overlay);
    color: var(--text-primary);

    h2, p, a {
      text-align: center;
    }
  }
}

