.content {
  width: 100vw;
  max-width: 100%;
  padding: 25px;

  button {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .disclaimer {
    outline: 2px solid var(--accent);
    margin: 2em 0;
    padding: 2em;

  }
}
