.content {
  width: 100vw;
  max-width: 100%;
  padding: 25px;

  h1 {font-size: 2em;}
  h2 {font-size: 1.8em;}
  h3 {font-size: 1.6em;}
  h4 {font-size: 1.4em;}
  h5 {font-size: 1.2em;}

  button {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .disclaimer {
    outline: 2px solid var(--accent);
    margin: 2em 0;
    padding: 2em;

  }
}
