@import "../../../App.scss";
.navcontainer {
  button.mobile {
    z-index: 1001;
    background-color: red;
    display: none;
    @include mobile {
      display: initial;
    }

    &:hover {
      background-color: green;
      cursor: pointer;
    }
  }
}


