@import "../../../App.scss";

.menuDiv {
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;

  &.solo {
    transition: all 0.2s ease-in-out;
    position: absolute;
    z-index: 999;
    transition-delay: .3s;
    width: 100vw;
    right: 0;
    left: auto;
    transform: translateX(calc(50% - 20px));
  }

  &.inList {

  }

  &.clingRight {
    width: calc(40px + 15px);
    right: 0;
    left: auto;
  }

  &:hover {
    color: gray;
  }

  @include desktop {
    display: none;
  }
}

.menu {
  opacity: 0;
  width: 100vw;
  max-width: 100%;
  height: 100dvh;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 50px;
  position: fixed;
  top: -100%;
  align-items: center;
  background-color: var(--background);
  z-index: 995;
  transition: height, min-height, max-height .25s ease;


  @include desktop {
    display: none;
    visibility: hidden;
  }

  .background {
    position: absolute;
    font-size: 15rem;
    font-weight: 600;
    color: rgba(235, 235, 235, 0.04);
    user-select: none;

    svg {
      user-select: none;
      opacity: .05;
    }
  }

  .exit {
    fill: white;
    color: var(--accent);
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .menuContainer {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ul {

      .nav {
        opacity: 0;
        margin-bottom: -20px;
        list-style: none;



        .navLink {
          color: var(--text-primary);
          text-decoration: none;
          font-size: clamp(2.5em, 10vw, 3.5em);
          transition: all 0.2s ease-in-out;

          &.modeListItem {
            display: flex;
            align-items: center;

            p {
              font-size: 24px;
            }
          }

          &:hover {
            color: gray;
          }

          .smallNumber {
            font-size: 1.2rem;
          }
        }

      }
    }

    .right {
      padding-right: 100px;

      @include mobile {
        display: none;
        visibility: hidden;
      }

      .information {
        margin-bottom: 24px;

        .title {
          font-size: 2rem;
          color: rgb(170, 151, 126);

          .socialMedias a {
            color: var(--text-primary);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }


}


@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    justify-content: center;
  }
}
