@import "../../App.scss";

.insertionSection {
  margin: 5vh 0 5vh 0;

  .insertionBlockWrapper {
    padding: 10vh 0 10vh 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    width: min(90%, 2000px);
    overflow: hidden;

    @include mobile {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .title {
      display: flex;
      flex-direction: column;
      position: relative;

      width: clamp(25%, 30%, 35%);


      h2 {
        z-index: 5;
        font-size: clamp(1.8em, 15vw, 3.8em);
      }

      h4.subtitle {
        z-index: 3;
        position: absolute;
        color: white !important;
        transform: translate(-20%, -25%);
        opacity: .25;
        font-size: clamp(3.5em, 10vw, 6em);
      }

      @include mobile {
        align-items: center;
        justify-content: center;
      }
    }

    .description {
      position: relative;
      z-index: 5;
      p {

        font-size: clamp(.5em, 10vw, 2em);

        span {

          font-weight: bold;
        }
      }
    }
  }

}