@import "../../App.scss";

.insertionSection {
  width: 100vw;
  max-width: 100%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);

  .insertionBlockWrapper {
    padding: 10vh 25px 10vh 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    width: 100vw;
    max-width: min(2000px, 100%);
    overflow: hidden;

    @include mobile {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .title {
      display: flex;
      flex-direction: column;
      position: relative;

      width: clamp(25%, 30%, 35%);


      h2 {
        z-index: 5;
        font-size: clamp(1.8em, 15vw, 3.8em);
      }

      p.subtitle {
        z-index: 3;
        position: absolute;
        color: white !important;
        transform: translate(-20%, -25%);
        opacity: .25;
        font-weight: 600;
        font-size: clamp(3.5em, 10vw, 6em);
      }

      @include mobile {
        align-items: center;
        justify-content: center;
      }
    }

    .description {
      position: relative;
      z-index: 5;

      p {

        font-size: clamp(.5em, 10vw, 2em);
        @include mobile {
          text-align: center;
        }
        span {

          font-weight: 700;
        }
      }
    }
  }

}