nav {
  width: 100%;
  background-color: var(--background);

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
    justify-content: space-between;
    position: relative;
    pointer-events: auto;

    &.notTop {
      .logoContainer {
        position: absolute;
        left: 0;
      }

      .navLinks {
        position: absolute;
        right: 0;
      }
    }

    &.top {
      justify-content: center;
    }

    .navLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;

      ul {
        display: flex;
        flex-direction: row;


        &.bigGap {
          gap: 50px;
          transition-delay: .4s;
          transition-property: gap;
          transition-duration: 0.3s;
          transition-timing-function: ease;
        }

        &.smallGap {
          gap: 20px;
          transition-delay: .35s;
          transition-property: gap;
          transition-duration: 0.3s;
          transition-timing-function: ease;
        }

        li {
          user-select: none;
          cursor: pointer;
          font-weight: 500;
          color: #2a2728;
          transition: color 0.3s ease;
        }
      }
    }
  }
}
