nav {
  width: 100%;
  background-color: var(--background);

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
    justify-content: space-between;
    position: relative;
    pointer-events: auto;

    &.notTop {
      .logoContainer {
        position: absolute;
        left: 0;
      }

      .navLinks {
        position: absolute;
        right: 0;
      }
    }

    &.top {
      justify-content: center;
    }

    .navLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;

      /*ul {
        display: flex;
        flex-direction: row;


        &.bigGap {
          gap: 50px;
          transition-delay: .4s;
          transition-property: gap;
          transition-duration: 0.3s;
          transition-timing-function: ease;
        }

        &.smallGap {
          gap: 20px;
          transition-delay: .35s;
          transition-property: gap;
          transition-duration: 0.3s;
          transition-timing-function: ease;
        }

        li {
          user-select: none;
          cursor: pointer;
          font-weight: 500;
          color: var(--text-primary);
          transition: color 0.3s ease;

          a {
            color: inherit;

            &:visited {
              color: inherit;
            }
          }
        }
      }*/
      /* Adjusting .navbar to apply to ul */
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none; // Remove default list styling
        padding-left: 0; // Remove default padding

        li {
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          padding: 20px 0px;
          margin: 0px 20px;
          display: inline-block;
          position: relative;
          opacity: 0.75;
          cursor: pointer; // Ensure it's clear these are clickable

          a, .link { // Assuming your <Link> component has a 'link' class for styling
            text-decoration: none;
            color: var(--text-primary); // Text color
            display: block; // Make the anchor fill the li for larger clickable area

            &:visited {
              color: inherit; // Keep the link color consistent
            }
          }

          &:hover {
            opacity: 1;

            &::before {
              width: 100%;
            }
          }

          &::before {
            transition: 300ms;
            height: 5px;
            content: "";
            position: absolute;
            background-color: var(--text-primary);
            width: 0%;
            bottom: 0; // Adjusted to 0 for the underline to be at the bottom of the list item
            left: 0; // Ensure the line starts from the left edge
          }
        }
      }


    }
  }
}
