
.scrollSnapContainer {
  width: 100vw;
  max-width: 100%;

  .snapSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    overflow-y: auto;
    padding-top: 55px;
    padding-bottom: 55px;
    min-height: calc(100vh + 66px);

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .menuChoice {
      display: flex;
      flex-direction: row;

    }

    .innerContainer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
