@import "../../App.scss";

.availabilityTable {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 95vw;
  overflow-x: auto;
  display: block;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Optional: adds shadow around the table
  border-radius: 10px; // Optional: adds rounded corners to the table
  background: var(--form-background-matrix-basic); // Optional: in case your body background isn't white
  margin-bottom: 20px; // Space below the table
  touch-action: initial;

  @include mobile {

    tbody {
      td {
        input[type="checkbox"] {
          max-width: 20px; // Width of the checkbox
          height: 20px; // Height of the checkbox

          &:checked {
            background-color: #007bff; // Change to your preferred color
            border-color: #007bff;
          }

        }
      }
    }

  }

  thead {
    th {
      background-color: var(--form-background-matrix-highlight); // Light grey background for the header
      text-align: left;
      padding: 10px 15px; // Adjust the padding to control the spacing

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 5;
      }
    }
  }

  tbody {
    td {
      padding: 10px 15px; // Aligns with the header padding
      text-align: center; // Center the checkboxes

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 5;
        background-color: var(--form-background-matrix-highlight);
      }

      input[type="checkbox"] {
        z-index: 1;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        width: 20px; // Width of the checkbox
        height: 20px; // Height of the checkbox
        border: 1px solid #dcdcdc; // Border color
        border-radius: 4px; // Rounded corners
        transition: background-color 0.2s; // Smooth transition for the check effect

        &:hover {
          cursor: pointer;
        }

        &:checked {
          background-color: #007bff; // Change to your preferred color
          border-color: #007bff;

          &:after {
            content: '';
            display: block;
            position: relative;
            width: 6px;
            height: 11px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -60%) rotate(45deg);
          }
        }
      }
    }
  }
}


.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .sectionWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    section.scrollable {
      position: absolute !important;
      z-index: 3;
      width: 100vw !important;
      height: 100vh !important;
      padding: 10vh 15px 10vh 15px;

      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      align-items: center;

      transition: transform 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000); // Add transition

      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        /*align-items: center;*/
        overflow-x: hidden;
        width: 100% !important;
      }

      .stepWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        max-width: 100%;

        @include mobile {
          max-width: 90vw;
          max-height: 100%;
          justify-content: flex-start !important;
          align-items: flex-start !important;
          overflow: hidden;
          overflow-y: auto;
          padding: 5px;
        }

        .rowWrapper {
          max-width: 100%;
        }
      }

      &.left {
        transform: translateX(-100%);
      }

      &.right {
        transform: translateX(100%);
      }

      &.center {
        z-index: 5;
      }


      span.required {
        color: var(--delete);
      }

      .noError, .error {
        display: block;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
      }

      .error {
        color: var(--delete);
        opacity: 1;
        animation: fadeIn .5s;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }


      div > input,
      div > textarea,
      div > select {
        min-width: 40vw;
        max-width: 75vw;
        max-height: 50vh;

        @include mobile {
          width: 90vw;
          max-height: 50vh;
          max-width: 100%;
          overscroll-behavior: contain;
        }
      }

      div > input[type="checkbox"].cbSmall {
        min-width: initial;
      }

      .availabilityButtons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;

        @include mobile {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;
        }

        button {
          &:hover {
            cursor: pointer;
          }

          &:active {
            scale: .99;
          }
        }
      }

      .confirmation {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;



        p {
          max-width: 80%;
        }

        @include mobile {
          align-items: center;
          justify-content: center;
        }

        input[type='checkbox'] {
          @include mobile {
            width: inherit;
            max-height: unset;
            max-width: unset;
            overscroll-behavior: unset;
          }
        }
      }
    }
  }


  .toPage {
    z-index: 11;
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;

      p {
        font-size: 1.25rem;
      }

      svg {
        width: 1.5rem;
        height: auto;
      }
    }
  }

  .controlBar {
    width: 90vw;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;

    @include mobile {
        left: 50%;
        max-width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: initial;

        .directNav {
          display: none !important;
          visibility: hidden !important;
        }

        .buttons {
          width: 100%;
          justify-content: space-between;
          gap: initial;

          .ctrlBtn {
            min-width: 35vw;
            cursor: pointer;
          }
        }
    }

    .directNav {
      @include mobile {
        display: none !important;
      }

      .navigationElements {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 50%;

        li {
          font-size: 14px;
          font-weight: 500;
          text-align: center;

          &.current {
            color: var(--accent3);
            cursor: default;
          }

          &.done {
            color: var(--confirm);
            cursor: pointer;
          }

          &.incomplete {
            color: var(--delete);
            cursor: pointer;
          }

          &.open {
            color: var(--disabled);
            cursor: default;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .ctrlBtn {
        min-width: 150px;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  button.borderlessBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;

    &:hover {
      cursor: pointer;
    }

    &:active {
      scale: initial;
    }

    svg {
      width: 25px;
      height: auto;
    }
  }
}

@media (max-width: 900px) {

  /*  .formContainer {
      section.scrollable {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        overscroll-behavior: none;

        .scrollContainer {

        }

        .sameRow {
          p {
            min-width: 75%;
            max-width: 95%;
          }
        }

        div > input,
        div > textarea,
        div > select {
          width: 75vw;
          max-height: 50vh;

        }


      }
    }

*/
}