.availabilityTable {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 95vw;
  overflow-x: auto;
  display: block;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Optional: adds shadow around the table
  border-radius: 10px; // Optional: adds rounded corners to the table
  background: var(--form-background-matrix-basic); // Optional: in case your body background isn't white
  margin-bottom: 20px; // Space below the table
  touch-action: initial;

  thead {
    th {
      background-color: var(--form-background-matrix-highlight); // Light grey background for the header
      text-align: left;
      padding: 10px 15px; // Adjust the padding to control the spacing

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 5;
      }
    }
  }

  tbody {
    td {
      padding: 10px 15px; // Aligns with the header padding
      text-align: center; // Center the checkboxes

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 5;
        background-color: var(--form-background-matrix-highlight);
      }

      input[type="checkbox"] {
        z-index: 1;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        width: 20px; // Width of the checkbox
        height: 20px; // Height of the checkbox
        border: 1px solid #dcdcdc; // Border color
        border-radius: 4px; // Rounded corners
        transition: background-color 0.2s; // Smooth transition for the check effect

        &:hover {
          cursor: pointer;
        }

        &:checked {
          background-color: #007bff; // Change to your preferred color
          border-color: #007bff;

          &:after {
            content: '';
            display: block;
            position: relative;
            width: 6px;
            height: 11px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -60%) rotate(45deg);
          }
        }
      }
    }
  }
}


.formContainer {
  touch-action: none;
  position: absolute;
  overflow-x: hidden;

  .sectionWrapper {
    display: flex;
    flex-wrap: nowrap;
    touch-action: initial;

  }

  section.scrollable {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 5;

    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    .sameRow {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      align-items: center;
      p {
        max-width: 50%;
      }
    }

    span.required {
      color: var(--delete);
    }

    .noError, .error {
      //min-height: 20px;
      display: block;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    .error {
      color: var(--delete);
      opacity: 1;
      animation: fadeIn .5s;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }



    div > input,
    div > textarea,
    div > select {
      min-width: 40vw;
      max-width: 75vw;
      max-height: 50vh;
    }

    div > input[type="checkbox"].cbSmall {
      min-width: initial;
    }

    .availabilityButtons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;

      button {
        &:hover {
          cursor: pointer;
        }

        &:active {
          scale: .99;
        }
      }
    }
  }

  .toPage {
    z-index: 11;
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;

      p {
        font-size: 1.25rem;
      }

      svg {
        width: 1.5rem;
        height: auto;
      }
    }
  }

  .controlBar {
    width: 90vw;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;

    .navigationElements {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        font-weight: 600;

        &.current {
          color: var(--accent3);
          cursor: default;
        }

        &.done {
          color: var(--text-primary);
          cursor: pointer;
        }

        &.open {
          color: var(--disabled);
          cursor: default;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;

      .ctrlBtn {
        min-width: 150px;
        cursor: pointer;


        &.enabled {

          &:active {
            scale: .98;
          }
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  button.borderlessBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;

    &:hover {
      cursor: pointer;
    }

    &:active {
      scale: initial;
    }

    svg {
      width: 25px;
      height: auto;
    }
  }
}

@media (max-width: 600px) {
  section.scrollable {
    .sameRow {
      p {
        min-width: 75%;
        max-width: 95%;
      }
    }

    div > input,
    div > textarea,
    div > select {
      width: 75vw;
      max-height: 50vh;
    }

    input[type='checkbox'] {
      width: inherit;
    }
  }


  .navigationElements {
    display: none !important;
  }
}
