@import "../../App.scss";

.locationsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 100%;

  .sectionHeading {
    height: 74px;
    z-index: 5;
    width: 100%;
    background-color: var(--background);
    h1 {

      text-align: center;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .description {
    max-width: 1080px;
    p {
      text-align: center !important;
      font-size: clamp(0.5em, 10vw, 1.25em) !important;
    }
  }



  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    max-width: 100%;

    @include mobile {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .right {
      max-width: 50%;
    }

    .left {
      max-width: 50%;
    }

    .right, .left {
      @include mobile {
        width: 100%;
        max-width: 100%;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .locationContentWrapper {
        width: 90%;

        @include mobile {
          width: 95%;
          padding-bottom: 50px;
        }

        .locationContentSection {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include mobile {
            z-index: auto;
            width: 100%;
            min-height: unset;
            margin-top: 50px;
            margin-bottom: 50px;
          }
        }
      }
    }

    .right {

      height: calc(100vh - 66px - 75px); /* 100vh, 66 navbar, 75 heading */
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      @include mobile {
        width: 100%;
        height: 35vh;
        align-items: center;
        background-color: var(--background);
        z-index: 5;
        padding-top: 10px;
        padding-bottom: 25px;
      }

      .locationPhotos {
        height: calc(100vh - 66px - 115px);
        z-index: -12;
        width: 90%;
        max-height: 100%;
        max-width: 100%;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: 7px 7px 0 rgb(254, 8, 121), -7px -7px 0 #00c5d1;

        @include mobile {
          z-index: auto;
          height: 35vh;
          width: calc(95vw);
          max-width: 100%;
        }


        .locationPhoto {
          position: absolute;
          height: 100%;
          width: 100%;
          overflow: hidden;

          @include mobile {
            z-index: auto;
          }

          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}