@import "../../App.scss";

.locationsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 100%;

  .sectionHeading {
    height: 74px;
    z-index: 5;
    width: 100vw;
    max-width: 100%;

    background: var(--background);
    background: linear-gradient(90deg, transparent 0%, var(--background) 10%, var(--background) 100%);
    background: -moz-linear-gradient(90deg, transparent 0%, var(--background) 10%, var(--background) 100%);
    background: -webkit-linear-gradient(90deg, transparent 0%, var(--background) 10%, var(--background) 100%);

    position: sticky;
    top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      position: unset;
      top: unset;
    }

    h1 {
      text-align: center;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .description {
    max-width: 1080px;

    p {
      text-align: center !important;
      font-size: clamp(0.5em, 10vw, 1.25em) !important;
    }
  }

  .contentWrap {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;

    .locations {
      display: flex;
      flex-direction: row-reverse;

      @include mobile {
        display: block;
        flex-direction: unset;
      }

      .locationsLeftWrapper {
        position: relative;
        width: 54%;
        z-index: 2;


        @include mobile {
          width: 100%;
          z-index: -1;
          /*position: absolute;*/

        }

        .locationsLeftContent {
          margin: auto;
          width: 80%;

          @include mobile {
            width: 100%;
          }

          .spacer {
            height: 25vh;

            @include mobile {
              display: none;
            }
          }

          .locationWrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
              height: auto;
              padding-bottom: 50px;
            }
          }
        }
      }

      .locationsRightWrapper {
        width: 46%;
        height: auto;

        @include mobile {
          position: absolute;
          width: 100%;
        }

        .locationsRightContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          position: sticky;
          height: 100%;
          max-height: 50vh; // SAME HEIGHT AS LEFT
          top: calc(140px + (((100vh - 140px) / 2) - 25vh));
          align-items: center;

          @include mobile {
            position: sticky;
            top: 64px;

            height: 35svh;
            align-items: center;
            background-color: var(--background);
            padding: 10px 0;
          }

          .locationsPhotos {
            width: 40vw;
            height: 50vh;
            position: relative;


            @include mobile {
              width: 100%;
              height: 100%;
            }

            .shadow {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 25px; // Match the border-radius of locationsPhoto
              box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
              -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
              -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
            }

            .locationsPhoto {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 25px;
              overflow: hidden;


              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
    }
  }
}

/*&::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
                -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
                -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
                z-index: 9999;
              }*/