.stepWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 100%;

}

@media (max-width: 900px) {
  .stepWrapper {
    max-height: 75vh;
    overflow-y: auto;
    overscroll-behavior: none;
  }
}