.resetScreen {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: height, min-height, max-height .25s ease;

  gap: 25px;

  span {
    border-color: var(--accent) !important;
  }
}